<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>394340460058-shp9m3j5a3k4bkc3lv0tv6a7cejul4ra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394340460058-shp9m3j5a3k4bkc3lv0tv6a7cejul4ra</string>
	<key>API_KEY</key>
	<string>AIzaSyBcQhWdxZrGgoetSPOKhdbc3gbojMfiGu4</string>
	<key>GCM_SENDER_ID</key>
	<string>394340460058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikhil.communique</string>
	<key>PROJECT_ID</key>
	<string>communique-30bb7</string>
	<key>STORAGE_BUCKET</key>
	<string>communique-30bb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394340460058:ios:e07a554cd8a68bdd</string>
	<key>DATABASE_URL</key>
	<string>https://communique-30bb7.firebaseio.com</string>
</dict>
</plist>